<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <meta charset='utf-8' />
    <title>Null Class</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />

</head>
<body ng-app="nullClass">
  <div class="container">
    <nav class="navbar navbar-light bg-light collapse navbar-collapse"id="navbarSupportedContent">
      <div class="container-fluid">
        <a class="navbar-brand" id="logoTitlePackage" href="#">
          <img id="navLogo" src="img/nullclasslogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          <h5 id="navTitle">Null Class</h5>
        </a>
        <div id="in_div">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          </ul>
        </div>
        <div id="out_div">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html" onClick="logout()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row" ng-controller="ListingsController">
      <div class="col-md-7 left">
        <div id="map">
        </div>
        <div id="details">
          <h1 class="dummyText">details</h1>
        </div>
      </div>
      <div class="col-md-4 right">
        <div id="listBar">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="filterText">
          </div>
          <div ng-repeat="place in listings | filter: searchFilterCustom(place)" ng-click="showDetails($index)">
            <div class="buttonsToggle">
              <button class="buildingButton" data-toggle="collapse" data-target=".classrooms{{$index}}">{{place.code}} | {{place.name}}</button>
              <button class="addButton">+</button>
                <div class="classrooms{{$index}} collapse">
                  The person who stole your laptop went into {{place.name}}.
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
    //Initialize map
    mapboxgl.accessToken = 'pk.eyJ1IjoibnVsbGNsYXNzIiwiYSI6ImNqbjBrYnR3eTAxMHcza200c3J6dDZ6dTYifQ.SISRlcNpNBI4cI_BF2U07w';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/nullclass/cjnonj8w91fes2rtgvhhbmjtj',
    center: [-82.3473,29.6486], // starting position
    zoom: 15 // starting zoom
});

// Add zoom and rotation controls to the map.
map.addControl(new mapboxgl.NavigationControl());

map.on('load', function () {
    // Add a layer showing the places.
    //Just testing out this feature, mapped Marston with a star
    //Working on figuring out how to utilize places already marked


    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'places', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(description)
        .addTo(map);
    });
    //testing clickable points
    map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point, {
    layers: ['uf-buildings'] // replace this with the name of the layer
});

      if (!features.length) {
        return;
    }

    var feature = features[0];

    var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.Name + '</h3><p>' + feature.properties.Code + '</p>'+'<p>'+feature.properties.Address+'</p>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);
});

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'uf-buildings', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'uf-buildings', function () {
        map.getCanvas().style.cursor = '';
    });
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/listingFactory.js"></script>
<script src="js/controllers/listingController.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA5Y_q99pkCGe1nTez7fpZxfg8e_iHzTnY",
    authDomain: "swegroup2-6a1a3.firebaseapp.com",
    databaseURL: "https://swegroup2-6a1a3.firebaseio.com",
    projectId: "swegroup2-6a1a3",
    storageBucket: "swegroup2-6a1a3.appspot.com",
    messagingSenderId: "856196986882"
};
firebase.initializeApp(config);
</script>
<script src="login.js"></script>
</body>
</html>
