.container {
	margin-top: 10px;
}

#header {
	width: 100%;
	text-align: center;
}

.navbar {
	background-color: aliceblue;
}

#logoTitlePackage {
    padding: 5px 5px;
}

#navTitle {
	display: inline;
	font-size: 20px;
	vertical-align: middle;
}

#navLogo {
	display: inline;
	height: 40px;
}

.left {
	height: 800px;
	margin: 20px;
	height: 800px;
}

.right {
	/* border: 5px solid black; */
	height: 820px;
	margin-top: 20px;
  overflow: auto;
}

.input-group {
	padding-bottom: 10px;
}

#map {
	/* border: 2px solid black; */
	height: 70%;
	margin-bottom: 20px;
}

#details {
	padding: 20px;
	background-color: aliceblue;
	margin-bottom: 20px;
	color: #337ab7;
}

.classroomDetails {
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	padding-left: 10px;
}

.detailHeader {
	vertical-align: middle;
	display: inline-block;
}

.card-body {
	padding-left: 50px;
}

.card-title {
	display: inline-block;
}

.card-text {
	display: inline-block;
}

.dummyText {
	text-align: left;
}

#listBar {
	height: 100%;
}

.glyphicon {
	color: #337ab7;
}

.btn-group {
	display: flex;
}

.buttonsToggle {
	width: 100%;
}

.buildingButton {
	height: 3em;
	font-weight: bolder;
	display: inline-block;
	background-color: aliceblue;
	color: #337ab7;
}

#in_div {
	display: initial;
}

#out_div {
	display: none;
}

.jumbotron {
	height: 500px;
	background-color: aliceblue;
}

#navLogoSignIn {
	height: 65px;
	width: 55px;
	margin-bottom: 25px;
}
