
#header {
	width: 100%;
	text-align: center;
}

.left {
	height: 800px;
	margin: 20px;
	height: 800px;
}

.right {
	border: 5px solid black;
	height: 820px;
	margin-top: 20px;
  	overflow: auto;
}

#map {
	border: 2px solid black; 
	height: 70%;
	margin-bottom: 20px;
}

#details {
	border: 2px solid blue;
	height: 30%; 
	margin-bottom: 40px;
}

.dummyText {
	text-align: center;
	height: 50%;
	padding-top: 30px;
}

#listBar {
	height: 100%;
}

.tableData {
	font-weight: bolder;
}