.container {
	margin-top: 10px;
}

#header {
	width: 100%;
	text-align: center;
}

.navbar {
	background-color: aliceblue;
}

#logoTitlePackage {
    padding: 5px 5px;
}

#navTitle {
	display: inline;
	font-size: 20px;
	vertical-align: middle;
}

#navLogo {
	display: inline;
	height: 40px;
}

.left {
	height: 800px;
	margin: 20px;
	height: 800px;
}

.right {
	/* border: 5px solid black; */
	height: 820px;
	margin-top: 20px;
  overflow: auto;
}

.input-group {
	padding-bottom: 10px;
}

#map {
	/* border: 2px solid black; */
	height: 70%;
	margin-bottom: 20px;
}

#details {
	border: 2px solid blue;
	height: 35%;
	margin-bottom: 40px;
}

.dummyText {
	text-align: left;
}

#listBar {
	height: 100%;
}

/* .buildingButton {
	width: 100%;
	height: 3em;
	font-weight: bolder;
	display: inline-block;
	text-align: -webkit-left;
} */

.btn-group {
	display: flex;
}

.buttonsToggle {
	width: 100%;
}

.buildingButton {
	height: 3em;
	font-weight: bolder;
	display: inline-block;
}

#in_div {
	display: initial;
}

#out_div {
	display: none;
}

.jumbotron {
	height: 500px;
	background-color: aliceblue;
}

#navLogoSignIn {
	height: 65px;
	width: 55px;
	margin-bottom: 25px;
}
